{% extends "base.html" %}
{% block title %}Menu{% endblock %}


{% block menu_buttons %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link text-white mr-2" href="{{ url_for('users') }}">Wydania</a></li>
    <li class="nav-item"><a class="nav-link text-white mr-2">Przyjecia</a></li>
    <li class="nav-item"><a class="nav-link text-white mr-2">Inwentaryzacja</a></li>
    <li class="nav-item"><a class="nav-link text-white mr-2">Towary</a></li>
    <li class="nav-item"><a class="nav-link text-white mr-2">Polozenia</a></li>
    <li class="nav-item"><a class="nav-link text-white mr-2" href="{{ url_for('users') }}">Uzytkownicy</a></li>
    <li class="nav-item"><a class="nav-link text-white mr-2" href="{{ url_for('home') }}">Wyloguj</a></li>       
        <!-- <a href="/users"><button type="button" class="btn btn-light">Uzytkownicy</button></a>
        <a href=/><button type="button" class="btn btn-danger">Wyloguj</button></a> -->
  </ul>
</div>     
{% endblock %}

 
{%  block function_buttons %}
    
          <button type="button" class="btn btn-primary btn-lg">Wyswietl</button>
          <button type="button" class="btn btn-primary btn-lg">Dodaj</button>
          <button type="button" class="btn btn-primary btn-lg">Zamknij</button>        
          <button type="button" class="btn btn-primary btn-lg">Realizuj</button>
          <button type="button" class="btn btn-primary btn-lg">Anuluj</button>

{% endblock %}